body {
    font: 14px "Century Gothic", Futura, sans-serif;
    display: flex;
    flex-direction: column;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: blueviolet;
  }

  ol, ul {
    padding-left: 30px;
  }

  .board-row:after {
    clear: both;
    content: "";
    display: table;
    background-color: aqua;
  }

  .game-info {
    margin-bottom: 10px;
    text-align: center;
    padding-left: 1vw;
  }

  .status {
    font-size: 1.5vw;
  }

  .title {
    font-size: 3vw;
  }

  .square {
    background-color: aqua;
    border: 3px solid #999;
    float: left;
    font-size: 10vw;
    text-align: center;
    font-weight: bold;
    line-height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 15vw;
    height: 15vw;
  }

  .square:focus {
    outline: none;
  }

  .kbd-navigation .square:focus {
    background: #ddd;
  }

  .game {
    display: flex;
    flex-direction: row;
  }

button {
    width: 12vw;
}
